.back-button {
   padding: 4px 12px 4px 12px;
   color: whitesmoke;
   background-color: dodgerblue;
   border: none;
   border-radius: 4px;
 }
 
img {
width: 100%
}

.movie-info {
font-size: 18px;
font-weight: bold;
color: black;
text-shadow: 0 0 12px white;
margin-bottom: 36px;
}

.heading {
   font-size: 21px;
   font-weight: bolder;
   color: white;
   text-shadow: 0 0 12px black;
}